.btn {
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}.primary {
  background: blue;
  color: white;
}

.secondary {
  background: gray;
  color: black;
}

.danger {
  background: red;
  color: white;
}